<div class="container">
  <div class="card offset-sm-3 col-sm-6">
    <div class="card-block">
      <h1 class="card-title">
        <% if @result.lost_user_id.nil? %>
        Nobody won/lost
        <% elsif @result.lost_user_id == current_user.id %>
        You lost!
        <% elsif @result.won_user_id == current_user.id %>
        You won!
        <% end %>
      </h1>
    </div>
    <div class="card-block">
      <h3>The odds were to: <%= @result.action %></h3>
      <h4>The odds were set out of: <%= @result.challenge_out_of %></h4>
      <% if current_user.id == @result.initiator_id %>
        <h5>You choose: <%= @result.initiator_num %></h5>
        <h5>They chose: <%= @result.target_num %></h5>
      <% elsif current_user.id == @result.target_id %>
        <h5>You chose: <%= @result.target_num %></h5>
        <h5>They chose: <%= @result.initiator_num %></h5>
      <% end %>
    </div>
  </div>
</div>
