<div class="card offset-sm-3 col-sm-6">
  <div class="card-block">
    <h1 class="card-title"><%= @challenge_request.actor.full_name %>:</h1>
    <h3 class="card-subtitle">Odds are you <%= @challenge_request.action %></h3>
    <% if @challenge_response.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger" role="alert" text-align="center">
          <% @challenge_response.errors.each do |attr,msg| %>
            <strong text-align="center"> <%= msg %> </strong><br />
          <% end %>
        </div>
      </div>
    <% end %>
    <%= form_for @challenge_response do |f| %>
      <h4>What are the odds out of</h4>
      <%= f.number_field :response_out_of, :placeholder => "(Minimum 3)" , class: "form form-group form-control" %>
      <h4>Your number choice</h4>
      <%= f.number_field :response_actor_number, :placeholder => "(Between 1 and what the odds are out of)" , class: "form form-group form-control"%>
      <%= hidden_field_tag :challenge_request_id, @challenge_request.id %>
      <%= hidden_field_tag :challenge_action, @challenge_request.action %>
      <%= f.submit "Send response", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
