<div id="user-stats-wrapper">
  <span class="badge badge-pill badge-info">Total: <%= user.total_odds_ares.size %> </span>
  <span class="badge badge-pill badge-success">Won: <%= user.won_odds_ares.size %> </span>
  <span class="badge badge-pill badge-danger">Lost: <%= user.lost_odds_ares.size %> </span>
  <span class="badge badge-pill badge-primary">Completed: <%= user.completed_odds_ares.size %> </span>
  <span class="badge badge-pill badge-warning">Dares completed: <%= user.dares_completed.size %> </span>
</div>
