<div class="card-block-row">
	<h1 class="card-title"> <%= @view_type %> </h1>
	<% @users.each do |user| %>
		<div class="card-list">
			<ul>
				<h2 class="card-centered-content"><%= user.full_name %></h2>
				<%= render(:partial => "users/scorecard", :locals => {:user => user})%>
					<% if current_user.friends_with?(user) %>
        		<%= link_to "Send Odds Are", new_challenge_request_path(:recipient_id => user.id), class: "btn card-button" %>
					<% elsif user.requested_friends.include?(current_user) %>
						(Friend Request sent)
					<% elsif current_user.requested_friends.include?(user) %>
						<%= link_to "Accept Friend", accept_friend_request_url(:user_id => user.id), class: "btn card-button", method: :post %>
					<% else %>
						<%= link_to "Request Friend", send_friend_request_url(:user_id => user.id), class: "btn card-button", method: :post %>
					<% end %>
			</ul>
		</div>
	<% end %>
</div>