<div class="card-block-row">
  <h1 class="card-title"><%= @user.user_name %></h1>
  <div class="card-list">
    <ul>
		<h2 class="card-centered-content"><%= @user.full_name %></h2>
    <%= render(:partial => "users/scorecard", :locals => {:user => @user})%>
    <% if @user != current_user %>
      <% if current_user.pending_friends.include?(@user) %>
        <h5>Friend request pending </h5>
      <% elsif current_user.requested_friends.include?(@user) %>
        <%= link_to "Accept Friend", accept_friend_request_url(:user_id => @user.id), class: "btn card-button", method: :post %>
      <% elsif current_user.friends.include?(@user) %>
        <%= link_to "Send Odds Are", new_challenge_request_path(:recipient_id => @user.id), class: "btn card-button" %>
      <% else %>
        <%= link_to "Request Friend", send_friend_request_url(:user_id => @user.id), class: "btn card-button", method: :post %>
      <% end %>
    <% end %><!-- end of external user view -->
    </ul>
  </div>
</div>