<div class="container">
  <div class="card offset-sm-3 col-sm-6">
    <div class="card-block">
      <h1 class="card-title"><%= @user.full_name %></h1>
      <h3 class="card-subtitle"><%= @user.anchor %></h3>
      <div id="user-stats-wrapper">
        <span class="badge badge-pill badge-info">Total: 20</span>
        <span class="badge badge-pill badge-success">Won: 2</span>
        <span class="badge badge-pill badge-danger">Lost: 4</span>
        <span class="badge badge-pill badge-primary">Completed: 2</span>
      </div>
      <% if current_user == @user %>

      <% else %><!-- end of profile view -->
        <% if current_user.pending_friends.include?(@user) %>
          <h5>Friend request pending </h5>
        <% elsif current_user.requested_friends.include?(@user) %>
          <%= button_to "Accept Friend", accept_friend_request_url(:user_name => @user.user_name), class: "btn btn-sm btn-primary" %>
        <% elsif current_user.friends.include?(@user) %>
          <%= button_to "Send Odds Are", new_challenge_request_path, method: :get, class: "btn btn-sm btn-primary" %>
        <% else %>
          <%= button_to "Add Friend", new_friend_request_url(:user_id => @user.id), class: "btn btn-sm btn-primary" %>
        <% end %>
        <h4>External user</h4>
      <% end %><!-- end of external user view -->
    </div>
  </div>
</div>
