<div class="container">
  <div class="card-block">
    <h2 class="card-title">Respond to <%= @challenge_response_fields.other_user.full_name %></h2>
    <% unless !defined? @challenge_finalization %>
        <div id="error_explanation">
          <div class="alert alert-danger" role="alert" text-align="center">
            <% @challenge_finalization.errors.each do |attr,msg| %>
                <strong text-align="center"> <%= msg %> </strong>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
  <div class="card-block">
    <%= render(:partial => "odds_ares/card_item", :locals => {:odds_are => @challenge_response_fields.odds_are, :hide_number => true})%>
  </div>
  <div class="card-form-wrapper">
    <h5 class="card-centered-content">Guess a number between 1 and <%= @challenge_response_fields.response_out_of %></h5>
    <%= form_for @challenge_response_fields.finalize_challenge do |f| %>
      <%= f.number_field :number_guessed, :placeholder => "Your guess" , class: "form form-group form-control"%>
      <%= f.hidden_field :odds_are_id, value: @challenge_response_fields.finalize_challenge.odds_are_id %>
      <div id="card-button-wrapper">
        <%= f.submit "Send response", class: "btn card-button" %>
      </div>
    <% end %>
  </div>
</div>
