<div class="container">
  <div class="card-block">
    <h2 class="card-title">Respond to <%= @challenge_response_fields.other_user.full_name %></h2>
    <% if @challenge_response_fields.finalize_challenge.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger" role="alert" text-align="center">
            <%= pluralize(@challenge_response_fields.finalize_challenge.errors.count, "error") %> prevented this from being sent: <br/>
            <% @challenge_response_fields.finalize_challenge.errors.each do |attr,msg| %>
                <strong text-align="center"> <%= msg %> </strong>
            <% end %>
          </div>
        </div>
    <% end %>
    <div class="card-body">
      <h4 class="card-centered-content">Odds are they <%= @challenge_response_fields.challenge_action %> </br ></h4>
    <div>
  </div>
  <div class="card-block">
    <h5 class="card-centered-content">Guess a number between 1 and <%= @challenge_response_fields.response_out_of %> (what they set the odds to be out of)</h5>
    <%= form_for @challenge_response_fields.finalize_challenge do |f| %>
      <%= f.number_field :number_guessed, :placeholder => "Your guess" , class: "form form-group form-control"%>
      <%= f.hidden_field :odds_are_id, value: @challenge_response_fields.finalize_challenge.odds_are_id %>
      <%= f.submit "Send response", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>
