<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand custom" href="/">Odds Are</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <li class="nav-item btn-group" data-behavior="notifications">
          <a class="dropdown-toggle nav-link" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
            <%= fa_icon "bell" %> <%= current_user.notifications.needs_action.size %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">
          <% if current_user.notifications.needs_action.empty? %>
            <a class='dropdown-item' href="">No new notifications</a>
          <% else %>
            <% current_user.notifications.needs_action.each do |notification| %>
              <div class='dropdown-item' href="<%= polymorphic_url(notification.notifiable) %>">
                  <span class="notification-text"><%= notification.to_s %></span>
                <a href=""><span class="close-notification-item"><%= fa_icon 'times' %></span></a>
              </div>

            <% end %>
          <% end %>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_out">Log Out</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in">Log In</a>
        </li>
      <% end %>
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/all">All Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/challenge_requests/new">Send an Odds Are</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/friendship/show_friend_requests">Friend Requests</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
