<li class="nav-item btn-group" data-behavior="notifications">
  <a class="dropdown-toggle nav-link" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
    <%= fa_icon "bell" %><span id="notification-count"><%= current_user.notifications.needs_action.size %></span>
  </a>
  <div id="notification-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">
  <% if current_user.notifications.needs_action.empty? %>
    <a class='dropdown-item' href="">No new notifications</a>
  <% else %>
    <% current_user.notifications.needs_action.each do |notification| %>
    <a class="notification-link" href="<%= polymorphic_url(notification.notifiable) %>" data-dismiss-type="<%= notification.dismiss_type %>">
      <div class='dropdown-item'>
          <span class="notification-text"><%= notification.to_s %>
        <a class="dismiss-notification" data-dismiss-url="<%= mark_notification_as_read_path(notification)%>" href=""><span class="close-notification-item"><%= fa_icon 'times' %></span></a></a>
      </div>
    <% end %>
  <% end %>
  </div>
</li>
