<!DOCTYPE html>
<html>
  <head>
    <title>OddsAre</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="top-navbar-wrapper">
      <%= render "layouts/navbar" %>
    </div>
    <div id="wrapper">
      <% if current_user %>
        <div id="left-sidebar-wrapper">
          <%= render "layouts/sidebar" %>
        </div>
      <% end %>
      <div id="content-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <% flash.each do |name, msg| %>
                <% if msg.is_a?(String) %>
                  <div class="alert alert-<%= flash_class_name(name) %>" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </button>
                    <%= content_tag :div, msg, :id => "flash_#{name}" %>
                  </div>
                <% end %>
              <% end %>
              <%= yield %>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
