<!DOCTYPE html>
<html>
  <head>
    <title>OddsAre</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="app-body">
    <% if current_user %> 
      <%= render "layouts/navbar" %>
      <%= render "layouts/sidebar" %>
      <div id="main-content-wrapper">
        <%= render "layouts/flash_banners"%>
        <div id="main-content-card" class="card">
          <%= yield %>
        <div>
      </div>
    <% else %>
      <div id="anonymous-content-wrapper">
        <div id="main-content-card" class="card">
          <%= yield %>
        <div>
      </div>
    <% end %>
  </body>
</html>
